    <!-- Dropdown Structure -->
    <ul id="cadastro" class="dropdown-content">
      <li><a href="/gestao_feira/feira/new">Feira</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_presenca/atividade/new">Atividade</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_presenca/pessoa/new">Pessoa</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_presenca/cronograma/new">Cronograma</a></li>
      <li class="divider"></li>
      <li><a href="/certificados/modelo/new/">Certificado</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_feira/organizadores/new/">Organizador</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_feira/patrocinadores/new/">Patrocinador</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_feira/instituicao/new/">Instituicao</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_feira/categoria/new/">Categoria</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_feira/observacoes/new/">Observação</a></li>
    </ul>
    <ul id="listar" class="dropdown-content">
      <li><a href="/gestao_feira/feira/">Feiras</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_presenca/atividade/">Atividades</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_presenca/pessoa/">Pessoas</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_presenca/cronograma/">Cronogramas</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_feira/organizadores/">Organizadores</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_feira/patrocinadores/">Patrocinadores</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_feira/instituicao/">Intituições</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_feira/categoria/">Categorias</a></li>
      <li class="divider"></li>
      <li><a href="/gestao_feira/observacoes/">Observações</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Feiras de Matemática</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/gestao_feira/">Pagina Inicial</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="cadastro">Cadastros<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="listar">Listagens<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/gestao_feira/sobre">Sobre</a></li>
        </ul>
      </div>
    </nav>
