h1{
  color:rgb(194, 26, 26);
  background-color: #00BCD4;
  font-family: monospace;
}



p{
  font-family: cursive;
  font-weight: bold;
  color: black;
}

.destaque{
  color: #ff0000;
}

#nomeArquivo{
  font-style: italic;
}

nav{
  background-color: #00BCD4;
}
