body {
	color: #333333;
	font-family: "PT Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
	background-color: #DCDCDC;
	padding: 20px 0;

	clear: both;
}

.box-view {
	background-color: #B5DAC5;

	width: 800px;

	float: left;

	box-shadow: 1px 1px 3px rgba(30,30,30,0.5);

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	clear: left;

	position: absolute;
	top: 5%;
	left: 50%;
  margin-left: -400px;
}

.box-view h1 {
	color: blue;
	font-weight: bold;
	text-align: center;
}

.box-view p,
.box-view #block-tags {
	background-color: #D1E7DA;

	width: 94%;

	box-shadow: 1px 1px 3px rgba(30,30,30,0.5);

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	padding: 5px;
	margin: 10px 0 10px 2.5%;
}

.box-view #block-tags h4 {
	text-align: center;
}

.box-view textarea {
	font-size: 100%;
	font: inherit;
  resize: none;
}

.box-view #nome-modelo {
	height: 25px;
	margin: 5px 0 5px 5px;
}

.box-view #id_feira,
.box-view #id_categoria {
	font-size: 100%;
	font: inherit;
	height: 30px;
	min-width: 200px;
	max-width: 460px;
	margin: 5px 0 5px 5px;
}

.box-view #ptext {
	text-align: justify;
	margin: 5px 0 5px 5px;
}

.box-view form input[type=submit] {
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
	width: 100px;
	padding: 3px;
	margin: 10px 0 10px 350px;
}

.box-view form input[type=submit]:hover{
	color: #330000;
	background-color: #00FF00;
	border-radius: 10px 0px 10px 0px;
}
