body {
	color: #333333;
	font-family: "PT Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
	background-color: #DCDCDC;
	padding: 20px 0;

	clear: both;
}

.box-view {
	background-color: #B5DAC5;

	width: 800px;

	float: left;

	box-shadow: 1px 1px 3px rgba(30,30,30,0.5);

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	clear: left;

	position: absolute;
	top: 5%;
	left: 50%;
  margin-left: -400px;
}

.box-view h1 {
	color: blue;
	font-weight: bold;
	text-align: center;
}

.box-view h2 {
	text-align: center;
	margin: 10px;
}

.box-view .box-data {
	background-color: #D1E7DA;

	width: 95%;

	box-shadow: 1px 1px 3px rgba(30,30,30,0.5);

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	margin: 0 0 0 2.5%;
}

.box-view .box-data #feira,
.box-view .box-data #categoria {
	padding: 5px;
}

.box-view .box-data #pText {
	text-align: justify;
	padding: 5px;
}

.box-view .box-data .no-image {
	text-align: center;
	padding: 5px;
}

.box-view .box-data h3 {
	text-align: center;
}

.box-view .box-data img {
	width: 80%;
	margin: 0 0 0 10%;
	background-size: cover;
	background-position: center;
	background-color: white;
}

.box-view .box-data #img-evento {
	width: 50%;
	margin: 0 0 0 25%;
}

.box-view form input[type=submit] {
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
	width: 100px;
	padding: 3px;
	margin: 10px 0 10px 350px;
}

.box-view form input[type=submit]:hover{
	color: #330000;
	background-color: #FF6347;
	border-radius: 10px 0px 10px 0px;
}
