{% extends 'base.html' %}
{% block conteudo %}
<h3>Feira</h3>

<p><b>Nome:</b> {{ object.nome_feira }}</p>
<p><b>Área de atuação:</b> {{ object.area }}</p>
<p><b>Data Inicio: </b>{{ object.data_inicio }} - <b>Data Fim: </b>{{ object.data_fim }}</p>
<p><b>Horário Inicio: </b>{{ object.hora_inicio }} - <b>Horário Fim: </b>{{ object.hora_fim }}</p>
<p><b>CEP: </b>{{ object.cep }}</p>
<p><b>Cidade: </b>{{ object.cidade }} - {{ object.uf }}</p>
<p><b>Bairro: </b>{{ object.bairro }}</p>
<p><b>Endereço: </b>{{ object.endereco }}</p>
<p><b>Complemento: </b>{{ object.complemento }}</p>
<p><b>Facebook: </b>{{ object.facebook }}</p>
<p><b>Instagram: </b>{{ object.instagram }}</p>
<p><b>Twitter: </b>{{ object.twitter }}</p>
<p><b>Email: </b>{{ object.email }}</p>
<p><b>Telefone: </b>{{ object.telefone }}</p>
<p><b>Whatsapp: </b>{{ object.whatsapp }}</p>

<a href='../' class="waves-effect waves-light btn">Voltar</a>

{% endblock conteudo %}
