<table id="table-tags" border="3">
	<thead>
		<tr>
			<th width="240">Tag</th>
			<th width="460">Descrição</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td align="center">&lsaquo;NOME&rsaquo;</td>
			<td>Nome do Participante</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;DATA_NASC&rsaquo;</td>
			<td>Data de Nascimento do Participante</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;NATURALIDADE_UF&rsaquo;</td>
			<td>Naturalidade Participante</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;RG&rsaquo;</td>
			<td>Número de RG do participante</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;NOME_TRABALHO&rsaquo;</td>
			<td>Nome do Trabalho Apresentado</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;PREMIACAO&rsaquo;</td>
			<td>Premiação Recebida no Trabalho</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;NOME_EVENTO&rsaquo;</td>
			<td>Nome do Evento Participado</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;UF_EVENTO&rsaquo;</td>
			<td>UF do Evento</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;DATA_PERIODO_EVENTO&rsaquo;</td>
			<td>Periodos de Data em que Ocorreu o Evento</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;CARGA_HORARIA&rsaquo;</td>
			<td>Total da Carga Horária</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;b&rsaquo;?&lsaquo;/b&rsaquo;</td>
			<td>Texto em <b>Negrito</b> (Substituir a "?" pelo Texto Desejado)</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;i&rsaquo;?&lsaquo;/i&rsaquo;</td>
			<td>Texto em <i>Itálico</i> (Substituir a "?" pelo Texto Desejado)</td>
		</tr>
		<tr>
			<td align="center">&lsaquo;u&rsaquo;?&lsaquo;/u&rsaquo;</td>
			<td>Texto <u>Sublinhado</u> (Substituir a "?" pelo Texto Desejado)</td>
		</tr>
	</tbody>
</table>
<p>*Os Tags de formatação de texto (negrito, itálico e sublinhado) podem ser combinadas, exemplo: para o texto
	ser negrito E itálico deve-se usar &lsaquo;b&rsaquo;&lsaquo;i&rsaquo;Meu Texto&lsaquo;/i&rsaquo;&lsaquo;/b&rsaquo;,
	sendo o resultado <b><i>Meu Texto</i></b>.</p>
