{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<link rel="stylesheet" href="{% static '/css/certificados/user_list_view.css' %}">
<section class="box-view">
	<h1>{{ 'Certificados Disponíveis'|upper }}</h1>
	{% if object %}
	<ul>
		{% for item in object %}
			<li><b>#{{ item.id }}</b> - {{ item.nome_feira }} ( {{ item.nome_categoria }} ) - <a href="{{ item.id_feira }}/{{ item.id_categoria }}/">Visualizar</a> | <a href="{{ item.id_feira }}/{{ item.id_categoria }}/download/">Download</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<p>Não há certificados disponíveis no momento.</p>
	{% endif %}
</section>   <!-- fim da classe .box-view -->
{% endblock conteudo %}
